@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typing Animation for Problem Solver and Full Stack Developer */
.typing-animation {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #fff; /* Cursor effect */
  animation: typing 3s steps(30) infinite, blink 0.75s step-end infinite;
}

/* Keyframe for typing animation */
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* Cursor blinking effect */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Normal animation for other text (e.g. Passionate about Machine Learning and Cloud) */
.normal-text {
  animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-900 text-white;
}
